body{
	-webkit-filter: contrast(1.1);
	filter: contrast(1.1);
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	user-select: none !important;
}

body::-webkit-scrollbar {
	width: 15px;
}

body::-webkit-scrollbar-track {
	background: whitesmoke;
}

body::-webkit-scrollbar-thumb {
	background: #111118;
	transition: 0.4s all ease-in-out;
}

.nav_blue{
	background-color: #1C1C24;
}

.body_blue{
	background: #111118;
}

.navbar{
	box-shadow: none !important;
}

.main_img_col{
	margin-left: -110px !important;
}

.main_img{
	cursor: pointer;
}

.main_text_col{
	margin-left: 150px !important;
}

.main_text_col h4{
	color: aliceblue;
	font-weight: 1500px !important;
	font-family: Poppins !important;
	font-size: 70px;
	margin-top: 30px;
}

.main_text_col h5{
	color: aliceblue;
	font-weight: 1500px !important;
	font-family: Poppins !important;
	font-size: 35px;
	margin-left: 100px;
	margin-top: 10px;
}

.main_text_col p{
	color: lavender;
	font-family: Poppins !important;
	font-size: 20px;
	margin-left: 100px;
}

.course_card{
	filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.25)) !important;
	background: #1C1C24;
	border-radius: 5px !important;
}

.course_img{
	margin-bottom: -25px;
	cursor: pointer;
}

.course_title{
	color: aliceblue;
	font-size: 17px;
	margin-bottom: -5px;
	text-align: center;
}

.course_title a{
	color: aliceblue !important;
	transition: 0.4s all ease-in-out;
}

.course_title a:hover{
	color: lavenderblush !important;
}

#sep{
	margin-bottom: 120px !important;
}

.course_cols{
	margin-bottom: 30px !important;
}

.nav-item{
	margin-right: 50px;
	margin-left: 50px;
}

.david_main_img{
	width: 100% !important;
}

.my_id_text_col h4{
	color: aliceblue;
	font-weight: 1500px !important;
	font-family: Poppins !important;
	font-size: 80px;
	margin-top: 30px;
}

.my_id_text_col p{
	color: lavender;
	font-family: Poppins !important;
	font-size: 20px;
}

.first_row_two{
	padding-left: 45px !important;
}

.stacks_col{
	margin-top: 55px;
}

.stacks_card{
	background-color: #111118;
	justify-content: center !important;
	filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.25)) !important;
}

.btn_center{
	transform: translateX(85%) !important;
}

.stack_btn{
	outline: 0px !important;
	box-shadow: none;
	border: none !important;
	padding: 10px 40px;
	color: aliceblue;
	background-color: #1C1C29;
	font-size: 19px;
}

.footer_bottom{
	background-color: #111118 !important;
}

.footer_cont{
	background: #1C1C24 !important;
}

.addCourseCard{
	background-color: #1C1C24;
	filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.25));
	border-radius: 0px;
}

.addCourseBtn{
	background-color: #16151C;
	color: aliceblue !important;
	border: none;
	padding: 6px 40px;
	outline: 0px !important;
	border-radius: 20px;
	border: 1px solid transparent;
	transition: 0.4s all ease-in-out;
	box-shadow: 0.5px 0.5px 0.5px 0.5px rgba(0, 0, 0, 0.5) !important;
}

.course_img_btn{
	background-color: #16151C;
	color: aliceblue;
	border: none;
	padding: 8px 25px;
	outline: 0px !important;
	cursor: pointer;
	transition: 0.4s all ease-in-out !important;
	-webkit-user-select: none !important;
	-moz-user-select: none !important;
	user-select: none !important;
}

.course_img_btn:hover{
	background-color: #16152A !important;
}

.couseAttrInput{
  border: 2px solid #1C1C29 !important;
  background-color: transparent !important;
  color: aliceblue !important;
  transition: 0.4s all ease-in-out !important;
}

.couseAttrInput::placeholder{
  color: aliceblue !important;
}

.form-control:focus{
  outline: 0px !important;
  box-shadow: none !important;
  -webkit-appearance: none !important;
  border: none !important;
}

.couseAttrInput:focus{
  outline: 0px !important;
  box-shadow: none !important;
  -webkit-appearance: none !important;
  border: 2px solid #16151C !important;
}

.prevCourseImg{
	border: 2px solid #16151C;
}

img{
	-webkit-filter: contrast(1.1);
	filter: contrast(1.1);
	cursor: pointer;
}
.frame_card{
	box-shadow: none !important;
}



.portfolio_project_row{
	padding-left: 45px !important;
	padding-right: 65px !important;
}

.project_desc_col{
	padding-left: 0px;
	padding-top: 15px;
	padding-right: 15px;
}

.portfolio_project_card{
	background-color: #111118;
	justify-content: center !important;
	filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.25)) !important;
	border-radius: 0px !important;
}

.project_img{
	border-radius: 0px !important;
}

.project_stacks span{
	text-decoration: underline;
	color: lightgrey;
}

.project_stacks p{
	word-spacing: 10px;
	margin-top: 10px;
}

.project_link{
	color: aliceblue;
	font-size: 17px;
}

.project_description{
	color: aliceblue;
	padding: 10px;
	background-color: rgb(0, 0, 0, 0.5) !important;
	position: relative;
	top: 68px;
	z-index: 1000 !important;
	margin-top: -68px;
	transition: 0.5s all ease-in-out !important;
	cursor: pointer !important;
	height: 68px !important;
}

.project_description:hover{
	background-color: #111118 !important;
}



.addProjectCard{
	background-color: #1C1C24;
	filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.25));
	border-radius: 0px;
}

.open_project_desc{
	cursor: pointer;
	margin-top: 15px !important;
	font-size: 13px;
}




.single_course_card{
	background-color: #111118;
	filter: drop-shadow(-5px 5px 7px rgba(0, 0, 0, 0.25)) !important;
	border-radius: 0px !important;
}

.single_course_col{
	padding: 0px !important;
}

.course_syllabus_card{
	background-color: #111118;
	box-shadow: none !important;
	border-radius: 0px !important;
	height: 470px !important;
	overflow-y: scroll !important;
	overflow-x: hidden !important;
}

.course_content_card{
	background-color: #111118;
	box-shadow: none !important;
	border-radius: 0px !important;
	height: 470px !important;
}

.syllabus_btn{
	outline: 0px !important;
	box-shadow: none;
	border: none !important;
	padding: 10px 15px;
	color: aliceblue;
	background-color: transparent;
	font-size: 16px;
	border-radius: 6px;
	transition: 0.6s background ease-in-out !important;
	text-align: left !important;
}

.syllabus_btn:hover{
	background: #0575e6;
	background: -webkit-linear-gradient(to left, #0575e6, #021b79);
	background: linear-gradient(to left, #0575e6, #021b79)
}

.active_btn{
	background: #0575e6;
	background: -webkit-linear-gradient(to left, #0575e6, #021b79);
	background: linear-gradient(to left, #0575e6, #021b79)
}

.loader_card{
	justify-content: center !important;
	align-content: center !important;
	align-items: center !important;
	background-color: transparent !important;
	box-shadow: none;
}

.loader_card p{
	position: relative !important;
}

.spin{
	margin-bottom: 335px;
}

.spin::before {
  animation: 1s linear infinite spinner;
  border: solid 4px #cfd0d1;
  border-bottom-color: #1c87c9;
  border-radius: 50%;
  content: "";
  height: 40px;
  position: absolute;
  transform: translate3d(-50%, -50%, 0);
  width: 40px;
  will-change: transform;
}

@keyframes spinner {
  0% {
    transform: translate3d(-50%, -50%, 0) rotate(0deg);
  }
  100% {
    transform: translate3d(-50%, -50%, 0) rotate(360deg);
  }
}